<ion-view view-title="ARTICLES">
    <ion-content class="padding" style="background-color: #eeeeee;">
        <div class="clear"></div>
        <div class="icon_center icon_margin"><i class="icon ion-ios-paper-outline banner_icon"></i></div>
        <div class="single_articel_section selectable">
            <img ng-src="{{singleartica.thumbnail}}" err-src="{{myDefaultImage}}">
            <h4>{{singleartica.title | ampersand}}</h4>
            <div class="blog_content" ng-bind-html="content"></div>
            <div class="card">
                <div class="item item-text-wrap row">
                    <button ng-click="shareartical('w', singleartica.title, '', singleartica.link);"
                                    class="button button-light col col-20">
                        <i class="icon ion-social-whatsapp"></i>
                    </button>
                    <button ng-click="shareartical('f', singleartica.title, '', singleartica.link);"
                                    class="button button-light col col-20">
                        <i class="icon ion-social-facebook"></i>
                    </button>
                    <button ng-click="shareartical('t', singleartica.title, '', singleartica.link);"
                                    class="button button-light col col-20">
                        <i class="icon ion-social-twitter"></i>
                    </button>  
                    <button ng-click="shareartical('sms', singleartica.title, '', singleartica.link);"
                                    class="button button-light col col-20">
                        <i class="icon ion-android-textsms"></i>
                    </button> 
                    <button ng-click="shareartical('email', singleartica.title, '', singleartica.link);"
                                    class="button button-light col col-20">
                        <i class="icon ion-ios-email"></i>
                    </button> 
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </ion-content>
</ion-view>