<ion-view view-title="ABOUT">
    <!-- <ion-nav-buttons side="right">
        <i class="icon ion-ios-information-outline bms-right-icon" ng-click="aboutus()"></i>
    </ion-nav-buttons> -->
    <ion-content class="padding" style="background-color: #eeeeee;">
        <div class="clear"></div>
        <img src="img/SafinaSociety_Logo_v3  SHIP ONLY (1) (2).png" style="width: 100%;padding: 0 35%;padding-top: 15px;">
        <center style="padding-top: 10px;font-size: 25px;letter-spacing: 5px;">SAFINA</center>
        <center style="padding-top: 10px;font-size: 13px;letter-spacing: 5px;">SOCIETY</center>
        <div class="about_section selectable">
            <h4 style="padding-bottom: 6px;padding-top: 25px;">Vision</h4>
            <p style="text-align: left;">Our presence on this earth is a test of wills. We are here to discover our Maker, to know and love Him through our own choice and volition. We also recognize that we are near the end of our umma’s history, and that keeping the faith is more often than not, an uphill challenge, for in the End Times, the umma is afflicted with the epidemic of loving dunya and hating death.</p>
            <p style="text-align: left;">Our response is companionship and knowledge. We are dedicated to gaining knowledge and eliminating distractions. Our beliefs are based on the robust and firmly established teachings passed on by luminaries of the Sunna, Imam al-Nawawi and al-Ghazali, and those before them, Abu Hanifa, Malik, Shafi', Ahmad, Bukhara, Muslim and al-Juwayni. </p>
            <p style="text-align: left;">We serve the entire family as well as every possible demographic. We do not seek to be huge. We care about quality over size and numbers. We are not slaves to numbers nor to our audience. </p>
            <p style="text-align:left;">We embrace technology and use it without allowing it to alter our vision, purpose or inner state. Through technology, we hope to bring like-minded students of knowledge together physically, not only virtually. We care as much about presentation as we do about content. Excellence, unicity of style along with simplicity is built into our DNA.</p>
        </div>
        <!-- <div class="clear"></div> -->
        <div class="about_section selectable" style="padding-bottom: 0;font-size: 33px;">
            <div class = "row">
                <div class = "col"><a href="https://www.facebook.com/safinasociety/" target="_blank"><i class="icon ion-social-facebook-outline"></i></a></div>
                <div class = "col"><a href="https://www.instagram.com/safinasociety/" target="_blank"><i class="icon ion-social-instagram-outline"></i></a></div>
                <div class = "col"><a href="https://twitter.com/SafinaSociety" target="_blank"><i class="icon ion-social-twitter-outline"></i></a></div>
                <div class = "col"><a href="https://www.youtube.com/user/SafinaSociety" target="_blank"><i class="icon ion-social-youtube-outline"></i></a></div>
            </div>
        </div>
        <div class="bar_new"></div>
        <div class="about_section selectable" style="padding:0;">
            <div class = "row">
                <div class = "col col-20">
                    <img src="img/Artboard-1.png" style="width: 82px;height: 82px;margin-top: 12px;">
                </div>
                <div class = "col col-80 aricale_title">
                    <h6 style="text-align: left;padding-left: 20px;">This app is brought to you by Talespun, a software development & design firm. With a team deeply skilled in software development, data analytics, design, and agile delivery, Talespun is dedicated to transforming customer stories into incredible digital experiences.</h6>
                </div>
            </div>
        </div>
        <div class="about_section selectable" style="padding-bottom: 0;">
            <div class = "row tel_about">
                <span><i class="icon ion-ios-home-outline icon_aboutus"></i> www.talespun.co</span>
                <span style="margin: 0 5px;"><i class="icon ion-ios-email-outline icon_aboutus"></i> info@talespun.co</span>
                <span><i class="icon ion-iphone icon_aboutus"></i> 8562580791</span>
            </div>
        </div>
    </ion-content> 
</ion-view> 