<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>915834747950-uv5th1p7sipvppi3rjp9dirn139ugk0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915834747950-uv5th1p7sipvppi3rjp9dirn139ugk0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBST2PluOCb47a2eVkwqkSt6sA0Db8Gy7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>915834747950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farntechs.safinasociety</string>
	<key>PROJECT_ID</key>
	<string>safinasociety-15015</string>
	<key>STORAGE_BUCKET</key>
	<string>safinasociety-15015.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915834747950:ios:fa3746ff0be91648</string>
	<key>DATABASE_URL</key>
	<string>https://safinasociety-15015.firebaseio.com</string>
</dict>
</plist>